@font-face {
  font-family: "Ubuntu";
  src: url(Fonts/Ubuntu-R.ttf) format("truetype");
}

.sidenav {
  font-family: "Ubuntu";
  height: 100%;
  width: 160%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
  margin-left: 25%;
}
.imgbox {
 display: grid;
}
.center-full {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100vh;
}
.center-scaled {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  max-height: 80vh;
}

h1.name{
  color: #606060;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}
a.name{
  color: #606060;
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
}
.break {
  height: 10px;
  background-color: #444444;
}
a.home{
  color: #606060;
  text-decoration:none;
  font-family:"Ubuntu", sans-serif;
  font-size: 20px;
}
.resPadding{
  display: inline;
  padding-left: 30px;
}
a.resume{
  color: #606060;
  text-decoration:none;
  font-family:"Ubuntu", sans-serif;
  font-size: 20px;
  //padding-left: 30px;
}
p.info{
  color: #606060;
  text-decoration:none;
  font-family:"Ubuntu", sans-serif;
  font-size: 15px;
}

.thinbreak{
  height: 5px;
  background-color: #444444;
}
a.info{
  color: #606060;
  text-decoration:none;
  font-family:"Ubuntu", sans-serif;
  font-size: 15px;
}
.centerDownloads {
  text-align: center;
}
.downloadResume {
  background-color: #606060;
  line-height: 0;
  width: 170px;
  height: 40px;
}
a.downloadResume {
  color: #FEFEFE;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:"Ubuntu", sans-serif;
  font-size: 15px;
}
#resume {
  display: table;
  margin: auto;
}
p.Resume{
  color: #606060;
  font-family:"Ubuntu", sans-serif;
  font-size: 15px;
  text-align: left;
  padding-top: 0px;
}
li.Resume{
  color: #606060;
  font-family:"Ubuntu", sans-serif;
  font-size: 15px;
  text-align: left;
}
