
.slidshowImage {
  position:fixed;
  top:0;
  left:0;
  right:0;
  width:100%;
  height:100%;
  object-fit:cover;
  overflow:hidden;
}

.slider {
	width: 1024px;
	margin: 2em auto;

}

.slider-wrapper {
	width: 100%;
	height: 400px;
	position: relative;
}

.slide {
  position:fixed;
  top:0;
  left:0;
  right:0;
  width:100%;
  height:100%;
  object-fit:cover;
  overflow:hidden;
	opacity: 0;
	transition: opacity 3s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}

#overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.4);
    z-index: 2;
    cursor: default;
}

#text{
    display: inline-block;
    position: absolute;
    width:100%;
    top: 50%;
    left: 50%;
    font-family: Ubuntu;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    vertical-align: middle;
}

.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0px;
  line-height: 0
}

h1 {
  font-family: Ubuntu;
  font-variant: small-caps;
  font-size: 70px;
  color: white;
  text-align: center;
  width: 100%;
  vertical-align: top;
}

a {
  text-align: center;
  width: 15%;
  vertical-align: middle;
  display: inline-block;
  *display: inline;
  zoom: 1;
  text-decoration:none;
  color: #f1f1f1
}

a:hover {
  color: #818181;
}
