@import 'sidebar.css';

h1 {
  text-align: center;
  width: 100%;
  font-family: "Ubuntu";
  font-size: 40px;
  color: #484848;
}

.resume {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  font-family: "Ubuntu";
  font-size: 20px;
  color: #555555;
}

.downloads {
  text-align: center;

}

td.subtitle {
  font-size: 18px;
}

td.info {
  font-size: 16px;
}

td.date {
  font-style: italic;
  text-align: right;
}

li.info {
  margin-left:60px;
}

table{
  margin-left: auto;
  margin-right: auto;
  table-layout: auto;
}

a.download {
  color: #f1f1f1;
  text-decoration: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #555555;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

a.download:hover {
  background-color: #AAAAAA;
}
